@import "tailwindcss";
@import "@nuxt/ui";

@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Public Sans", sans-serif;
  --ui-container: 1400px;
}

html,
body {
  height: 100%;
}

#__nuxt {
  display: grid;
  grid-template-rows: max-content auto;
  height: 100%;
}

button {
  cursor: pointer;
}

.code_container::-webkit-scrollbar {
  height: 8px;
  background: #0f172a;
}

.code_container::-webkit-scrollbar-thumb {
  background: #1e3263;
}