@import "tailwindcss";
@import "@nuxt/ui";

@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Public Sans", sans-serif;
  --ui-container: 1920px;
  --container-8xl:1440px
}

.dark {
  --ui-bg: #030712;
}

html,
body {
  height: 100%;
}

#__nuxt {
  display: grid;
  grid-template-rows: max-content auto;
  height: 100%;
}

.container {
  max-width: var(--ui-container);
  margin-inline: auto;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}

.dark {
  ::-webkit-scrollbar-thumb {
    background-color: #1e3263;
  }
}

.tooltip {
  position: relative;
  white-space: nowrap;

  &::before {
    content: attr(data-tooltip);
    transition: 250ms ease-in-out;
    transform: translateY(calc(-100% - 8px));
    position: absolute;
    display: none;
    background-color: #1d293d;
    color: #f5f5f5;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 12px;
  }

  &:hover::before {
    display: block;
  }
}